<div class="home__container">

    <div class="container col-md-8 col-md-offset-2 home__modal">
        <div class="modal__row col-md-8 col-md-offset-2">
            <img class="home__logo" src="images/goodcoffee-brown.png" alt="GoodCoffee Logo" />
            <h1>Be the connoisseur</h1>
            <p>Still in search of the perfect bean?</p>

            <form class="form-inline home__signup--form">
                <div class="form-group">
                    <input type="email" class="form-control" id="home__signup--email" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-default">Sign up</button>
            </form>

        </div>
    </div>

    <div class="home__overlay"></div>
    <video class="home__video--full" autoplay="" loop="" muted="muted" poster="//thumbs.gfycat.com/SimplisticPositiveDuckling-poster.jpg">
        <source id="webmsource" src="//zippy.gfycat.com/SimplisticPositiveDuckling.webm" type="video/webm">
            <source id="mp4source" src="//fat.gfycat.com/SimplisticPositiveDuckling.mp4" type="video/mp4">
    </video>
</div>
